@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Space Grotesk", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  @apply bg-[#fcf7ff] text-black;
}

* {
  scroll-margin-top: 6rem;
}